releases
.history
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
static*.tar.gz
node-server*.tar.gz
/dist
#client
/client/dist
/client/node_modules
/client/.cache-loader
/client/report.*.json


#server
/server/node_modules
/server/log
/server/dist
/server/upload

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml

node_modules

node_modules
.cache-loader

dist

.parcel-cache

lib
lerna-debug.log